<!--
  Generated template for the JeuPlayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>JeuPlay</ion-title>
        <ion-buttons end>
            <button ion-button (click)="toggleMenu()">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-card padding text-center>
        <ion-row id="stat">
            <ion-col>
                <span>{{coups}}</span> <label>coups</label>
            </ion-col>
            <ion-col>
                <span *ngIf="hour">{{hour}}</span> <label *ngIf="hour">hr </label>
                <span *ngIf="min">{{min}}</span> <label *ngIf="min">min </label>
                <span *ngIf="sec">{{sec}}</span> <label *ngIf="sec">sec </label>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-grid>
        <ion-row *ngFor="let menu of menus">
            <ion-col *ngFor="let cat of menu" (click)="click(cat)">
                <img src="{{cat.image}}" *ngIf="cat.index" />
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>