page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
  .div-box {
    ion-list{
      box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.45);
    }
  }
  ion-card-content{
      b{
        text-transform: uppercase !important;
      }
    > ion-label{
      ion-icon{
        float: right;
      }
      color: #d20907;
      font-weight: 500;
      margin: 5px 8px 5px 0 !important;
      box-shadow: 0px 2px 0px 0px rgba(210, 9, 7, 0.28);
    }
    ion-icon{
          color: rgba(197, 11, 9, 0.73);
    }
  }
}
